.mainContainer{
    display: flex;
    min-height: 100vh;/*makes the flex mainContainer at least as tall as the screen*/
    background-color:aquamarine;
}
.subContainer1{
    flex-basis: 20%;/*we set the container size by 30%*/
    background-color: aliceblue;
    flex-shrink: 1;/*we allow the contaner to keep its form while shrinking*/
}
.subContainer2{
    display: flex;
    flex-direction: column;
    flex-shrink: 1;/*we allow the contaner to keep its form while shrinking*/
    /*background-color: brown;*/ 
    flex-grow: 1;/*we make this container fulfill the remainder space*/
    align-items: center;
    justify-content: center;
    width: 60%;
}


.logo{
 border-width: 5px;/*sets the thickness to 3px*/
border-style: solid; /*Sets the style*/
border-color: #5e6561;    
    /*background-color:white;*/
    min-width: 50%;
    min-height: 15%;
    overflow: hidden;/*to lock the logo's image inside this contianer av
    avoidin it to grow more than its container*/
    text-align: center;/*align the content to the center*/
    border-radius: 50px;
}
.logo img{
    min-width: 200px;
    max-height: 200px;
    transition: transform 0.4s ease-in-out;
}
.calculator{
    display: flex;
    border-width: 3px;/*sets the thickness to 3px*/
border-style: solid; /*Sets the style*/
border-color:rgb(165, 153, 153);    
    background-color:white;
    flex-basis: 30%;
    width: 90%;
    max-height: auto;
    justify-content: space-evenly;    
}
.UiCalculator{
    display: flex;
    flex-wrap: wrap;/*moving elements to the next line instead of 
                    going out of parent's boundary*/
    
    width: 60%;
    justify-content: space-between;/* Centers horizontally (on the main axis) */
    align-items: center;     /* Centers vertically (on the cross axis) */
    background-color:black;
}
.UiCalculator > button{
    width: 60px;
    height: 30px;
    border-radius: 50%;
}
.BigLabel{
    width: 30%;
    background-color: blueviolet;
}
.results{
    border-width: 3px;/*sets the thickness to 3px*/
border-style: solid; /*Sets the style*/
border-color: rgb(77, 199, 240);    
    background-color: white;
    flex-basis: 30%;
}
