
.body{
box-sizing:border-box;
display:flex;
justify-content: center; /*centers horizontally*/
/*align-items:center; /*center vertically*/
align-items: flext-start;
height:200vh; /*gives the parent full viewport height to show vertical centering*/
border-width: 3px;/*sets the thickness to 3px*/
border-style: solid; /*Sets the style*/
border-color: rgb(77, 199, 240);    
background-color: rgb(222,217,217);
}
.unitedlist{
 display:flex;
 justify-content: space-between;
 height:4vh;
 background-color: rgb(18, 114, 148);
}
.img{
    display: flex;
    justify-content: center;
border-width: 3px;/*sets the thickness to 3px*/
    background-color: black;
    border-style: solid; /*Sets the style*/
border-color: black;    
/*background-color: rgb(222,217,217);*/
}
.logo{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;/*keeps the original image proportions*/
}
.content{
    width: 400px;
    height: 250px;
}